<div class="w-full py-10">
  <div class="mx-10 lg:mx-32 py-2 px-2 lg:py-12 lg:px-16 bg-white rounded lg:rounded-3xl">
    <table class="w-full text-left border-collapse">
      <thead>
        <tr>
          <th class="pb-2 text-xl">名稱</th>
          <th class="pb-2 text-xl">開始時間</th>
          <th class="pb-2 text-xl">結束時間</th>
          <th class="pb-2 text-xl"></th>
          <th class="pb-2 text-xl"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><%= link_to "新增時段", new_time_slot_path, class: "text-blue-500"%></td>
        </tr>
        <% @time_slots.each do |time_slot| %>
          <tr class="border-t border-slate-200">
            <td class="py-2">
              <div class="px-2 py-1">
                <%= time_slot.name %>
              </div>
            </td>
            <td class="py-2">
              <div class="px-2 py-1">
                <%= time_slot.start_at.strftime("%H:%M") %>
              </div>
            </td>
            <td class="py-2">
              <div class="px-2 py-1">
                <%= time_slot.end_at.strftime("%H:%M") %>
              </div>
            </td>
            <td class="py-2 text-right">
              <div>
                <%= 
              link_to "編輯", 
              edit_time_slot_path(time_slot),
              class: "bg-blue-500 px-3 py-2 rounded text-white"
            %>
                <%= 
              link_to "刪除", 
              time_slot, 
              method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "確定刪除？" },
              class: "bg-red-500 px-3 py-2 rounded text-white"
            %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>