<div class="flex-auto bg-slate-100 flex">
  <div class="w-7/12 flex-grow hidden lg:flex lg:items-center lg:justify-center bg-zinc-800">
    <%= image_tag 'forgot.jpg', class: "" ,alt: "Detention" %>
  </div>
  <div class="w-5/12 flex-grow px-6 flex items-center">
    <div class="w-full">
      <h1 class="mb-4 text-4xl text-gray-800">忘記密碼</h1>
      <%= form_with(url: forgot_password_path, method: :post) do |form| %>
        <div class="mb-4">
          <%= form.label :name, "學號", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.text_field :name, required: true, pattern: "^[a-z0-9]{1,9}$", class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div>
          <%= form.submit "發送重設密碼連結至您的郵件", class: "block w-full py-2 my-4 bg-blue-500 text-white rounded cursor-pointer" %>
        </div>
      <% end %>
      <p class="text-center"><%= link_to "回到登入頁面", login_path, class: "text-blue-500" %></p>
      <% flash.each do |type, msg| %>
        <div class="<%= flash_class(type) %>">
          <%= msg %>
        </div>
      <% end %>
    </div>
  </div>
</div>
