<div class="w-full py-10">
  <div class="mx-10 lg:mx-32 py-2 px-2 lg:py-12 lg:px-16 bg-white rounded lg:rounded-3xl">
    <table class="w-full table-fixed text-left border-collapse">
      <thead>
        <tr>
          <th class="pb-4 text-xl">學號</th>
          <th class="pb-4 text-xl">名稱</th>
          <th class="pb-4 text-xl">郵件</th>
          <th class="pb-4 text-xl"></th>
          <th class="pb-4 text-xl"></th>
          <th class="pb-4 text-xl"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="border-t border-slate-200">
            <td class="py-2">
              <div class="px-2 py-1">
                <%= user.name %>
              </div>
            </td>
            <td class="py-2">
              <div class="px-2 py-1">
                <%= user.nick %>
              </div>
            </td>
            <td class="py-2 overflow-hidden">
              <div class="px-2 py-1">
                <%= user.email %>
              </div>
            </td>
            <td class="py-2 text-center">
              <% if user.guest? %>
                <%= link_to "啟用帳號",
              promote_to_regular_user_path(user.id),
              method: :patch,
              data: { turbo_method: :patch, turbo_confirm: "確定？" },
              class: "block w-14 px-3 py-2 rounded bg-green-300 text-green-800"
          %>
              <% end %>
            </td>
            <td class="py-2 text-center min-w-14">
              <% if user.regular? %>
                <%= link_to "設為管理員",
              promote_to_admin_user_path(user.id),
              method: :patch,
              data: { turbo_method: :patch, turbo_confirm: "確定？" },
              class: "block w-14 px-3 py-2 rounded bg-indigo-600 text-white"
          %>
              <% elsif user.guest? %>
                尚未啟用
              <% elsif user.admin? %>
                管理員   
              <% end %>
            </td>
            <td class="py-2 min-w-14">
                <%= 
              link_to "刪除", 
              user, 
              method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "確定刪除？" },
              class: "block w-14 px-3 py-2 rounded bg-red-500 text-white"
            %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>