<div class="flex-auto bg-slate-100 flex">
  <div class="w-7/12 flex-grow hidden lg:flex lg:items-center lg:justify-center bg-amber-200">
    <%= image_tag 'register.png', class: "" ,alt: "Register Meme" %>
  </div>
  <div class="w-5/12 flex-grow px-6 flex items-center">
    <div class="w-full">
      <h1 class="mb-4 text-4xl text-gray-800">註冊</h1>
      <%= form_with(model: @user) do |form| %>
        <%= hidden_field_tag(:login_method, 'password') %>
        <div class="mb-6">
          <%= form.label :nick, "使用者名稱", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.text_field :nick, required: true, class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-6">
          <%= form.label :name, "學號", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.text_field :name, required: true, pattern: "^[a-z0-9]{1,9}$", class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-6">
          <%= form.label :email, "電子郵件", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.email_field :email, required: true, class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-6">
          <%= form.label :password, "密碼", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.password_field :password, required: true, class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-6">
          <%= form.label :password_confirmation, "確認密碼", class: "block font-bold text-gray-600 mb-1" %>
          <%= form.password_field :password_confirmation, required: true, class: "w-full py-2 px-3 border leading-tight appearance-none rounded shadow focus:outline-none focus:shadow-outline" %>
        </div>
        <div>
          <%= form.submit "建立帳號", class: "block w-full py-2 my-4 bg-blue-500 text-white rounded cursor-pointer" %>
        </div>
      <% end %>
      <p class="text-center"><%= link_to "回到登入頁面", login_path, class: "text-blue-500" %></p>
    </div>
  </div>
</div>
