<div class="w-full lg:py-10">
  <div class=" lg:mx-32 py-2 px-2 lg:py-12 lg:px-16 bg-white rounded lg:rounded-3xl shadow-md overflow-x-auto">
    <table class="table-auto w-full text-left">
      <thead>
        <tr>
          <% unless @user %>
            <th class="pb-2 text-xl">使用者</th>
          <% end %>
          <th class="pb-2 text-xl">琴房</th>
          <th class="pb-2 text-xl">日期</th>
          <th class="pb-2 text-xl">時段</th>
          <th class="pb-2 text-xl"></th>
        </tr>
      </thead>
      <tbody>
        <% if @reservations.present? %>
          <% @reservations.each do |reservation| %>
            <tr class="border-t border-slate-200">
              <% unless @user %>
                <td class="py-2">
                  <div class="px-2 py-1">
                    <%= reservation.user.name %>
                  </div>
                </td>
              <% end %>
              <td class="py-2 text-white">
                <div class="w-min rounded px-2 py-1" style=<%= "background-color:" + reservation.room.color + ";" %>>
                  <%= reservation.room.name %>
                </div>
              </td>
              <td class="py-2">
                <div class="px-2 py-1">
                  <%= reservation.date %>
                </div>
              </td>
              <td class="py-2">
                <div class="px-2 py-1">
                  <%= "#{reservation.time_slot.start_at.strftime("%I:%M %p")} - #{reservation.time_slot.end_at.strftime("%I:%M %p")}" %>
                </div>
              </td>
              <td class="py-2 text-right min-w-28">
                <%= 
                  link_to "刪除", 
                  reservation, 
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "確定刪除？" },
                  class: "block w-fit px-3 py-2 rounded bg-red-500 hover:bg-red-600 text-white"
                %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>