<div class="container mx-auto py-10">
  <div class="w-full bg-white rounded-3xl py-12 px-16">
    <table class="w-full text-left border-collapse">
      <thead>
        <tr>
          <th class="pb-2 text-xl">使用者</th>
          <th class="pb-2 text-xl">琴房</th>
          <th class="pb-2 text-xl">日期</th>
          <th class="pb-2 text-xl">時段</th>
          <th class="pb-2 text-xl"></th>
        </tr>
      </thead>
      <tbody>
        <% if @reservations.present? %>
          <% @reservations.each do |reservation| %>
            <tr class="border-t border-slate-200">
              <td class="py-2">
                <div class="px-2 py-1">
                  <%= reservation.user.name %>
                </div>
              </td>
              <td class="py-2 text-white">
                <div class="w-min rounded px-2 py-1" style=<%= "background-color:" + reservation.room.color + ";" %>>
                  <%= reservation.room.name %>
                </div>
              </td>
              <td class="py-2">
                <div class="px-2 py-1">
                  <%= reservation.date %>
                </div>
              </td>
              <td class="py-2">
                <div class="px-2 py-1">
                  <%= "#{reservation.time_slot.start_at.strftime("%I:%M %p")} - #{reservation.time_slot.end_at.strftime("%I:%M %p")}" %>
                </div>
              </td>
              <td class="py-2 text-right">
                <div>
                  <%= 
              link_to "刪除", 
              reservation, 
              method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "確定刪除？" },
              class: "bg-red-500 px-3 py-2 rounded text-white"
            %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>