<div class="w-full lg:py-10">
  <div class="w-full lg:w-auto lg:mx-32 py-2 px-2 lg:py-12 lg:px-16 bg-white rounded lg:rounded-3xl">
    <table class="w-full text-left border-collapse text-center">
      <thead>
        <tr>
          <th class="min-w-28">
            <div class="">
              <%= link_to(raw("&#9665;"), board_path(@room.name, date_to_str(@target_date - 7)), class: "text-decoration-none text-dark display-6") %>
              &nbsp;
              &nbsp;
              <%= link_to(raw("&#9655;"), board_path(@room.name, date_to_str(@target_date + 7)), class: "text-decoration-none text-dark display-6") %>
            </div>
          </th>
          <% @week_dates.each do |week_date| %>
            <th class="min-w-32">
              <div class="text-xl font-bold"><%= week_date.strftime("%A") %></div>
              <div class="font-light"><%= week_date.strftime('%Y-%m-%d') %></div>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @time_slots.each do |time_slot| %>
          <tr class="hover:bg-slate-200">
            <td class="h-10 w-28"><%= "#{time_slot.start_at.strftime("%H:%M")} - #{time_slot.end_at.strftime("%H:%M")}" %></td>
            <% @data.each do |day| %>
              <td class="h-10">
                <% reservation = day[time_slot] %>
                <% if current_user.blank? %>
                  <%# 沒登入, read-only %>
                  <%= reservation&.user&.nick %>
                <% elsif day["date"] < Date.today || (day["date"] == Date.today && Time.parse(time_slot.start_at.strftime("%H:%M:%S")) < Time.parse(Time.now.strftime("%H:%M:%S"))) %>
                  <%# 以前, read-only %>
                  <%= reservation&.user&.nick %>
                <% else %>
                  <% if reservation.blank? %>
                    <%# 可以預約 %>
                    <%= link_to(
                  "預約",
                  reservations_path(
                  room_id: @room.id,
                  time_slot_id: time_slot.id,
                  date: day["date"].to_s
                  ),
                  method: :post,
                  data: {
                  turbo_method: :post
                  },
                  class: "block leading-10 h-full hover:text-white bg-blue-100 hover:bg-blue-500"
                  )%>
                  <% elsif reservation.user == current_user %>
                    <%# 自己預約的, 可以取消 %>
                    <%= link_to(
                  "取消",
                  reservation,
                  method: :delete,
                  data: {
                    turbo_method: :delete
                  },
                  class: "block leading-10 h-full hover:text-white bg-red-100 hover:bg-blue-500"
                  )
                  %>
                  <% else %>
                    <%= reservation&.user&.nick %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<footer class="py-2 w-full text-center">
  <span>&copy; 2024 Enfu Liao. All rights reserved.</span>
</footer>
