<div class="w-full lg:py-10">
  <div class=" lg:mx-32 py-2 px-2 lg:py-12 lg:px-16 bg-white rounded lg:rounded-3xl shadow-md overflow-x-auto">
    <table class="table-auto w-full text-left">
      <thead>
        <tr>
          <th class="pb-4 text-xl">琴房</th>
          <th class="pb-4 text-xl">門鎖密碼</th>
          <th class="pb-4 text-xl">顏色</th>
          <th class="pb-4 text-xl"></th>
          <th class="pb-4 text-xl"></th>
        </tr>
      </thead>
      <tbody>
        <% if current_user&.admin? %>
          <tr>
            <td colspan="4"><%= link_to "新增房間", new_room_path, class: "text-blue-500"%></td>
          </tr>
        <% end %>
        <% @rooms.each do |room| %>
          <tr class="border-t border-slate-200">
            <td class="py-2"><%= room.name %></td>
            <td class="py-2"><%= room.password %></td>
            <td class="py-2"><%= room.color %></td>
            <% if current_user&.admin? %>
              <td class="py-2 text-right min-w-28">
                <%= 
                  link_to "編輯", 
                  edit_room_path(room),
                  class: "block w-fit px-3 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white"
                %>
              </td>
              <td class="py-2 text-right min-w-28">
                <%= 
                  link_to "刪除", 
                  room, 
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "確定刪除？" },
                  class: "block w-fit px-3 py-2 rounded bg-red-500 hover:bg-red-600 text-white"
                %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>