<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <div class="md:flex md:justify-between mt-2 mx-2">
        <div class="place-items-center flex hover:bg-red-500">
          <a href="#">
            <img class="h-12 mx-5" src="https://fakeimg.pl/300">
          </a>
        </div>
        <ul class="md:flex">
          <li class="text-xl mx-1">
            <% if request.env["REQUEST_URI"].start_with?("/users") %>
              <%= link_to("使用者", users_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("使用者", users_path, class: "block h-full px-4 py-6 hover:bg-blue-500 hover:text-white") %>
            <% end %>
          </li>
          <li class="text-xl mx-1">
            <% if request.env["REQUEST_URI"].start_with?("/rooms") %>
              <%= link_to("琴房", rooms_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("琴房", rooms_path, class: "block h-full px-4 py-6 hover:bg-blue-500 hover:text-white") %>
            <% end %>
          </li>
          <li class="text-xl mx-1">
            <% if request.env["REQUEST_URI"].start_with?("/time_slots") %>
              <%= link_to("時段", time_slots_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("時段", time_slots_path, class: "block h-full px-4 py-6 hover:bg-blue-500 hover:text-white") %>
            <% end %>
          </li>
          <li class="text-xl mx-1">
            <% if request.env["REQUEST_URI"].start_with?("/reservations") %>
              <%= link_to("預約", reservations_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("預約", reservations_path, class: "block h-full px-4 py-6 hover:bg-blue-500 hover:text-white") %>
            <% end %>
          </li>
        </ul>
        <div class="relative w-48" onmouseover="showDropdown()" onmouseout="hideDropdown()">
          <% if current_user.present? %>
            <div class="text-xl px-8 py-6 text-center">
              <a class="">
                <%= current_user&.name %>
              </a>
            </div>
            <ul class="absolute w-full hidden" id="dropdown">
              <li class="px-4 py-2 hover:bg-slate-100 text-center">
                <%= link_to("個人資料", profile_path, class: "") %>
              </li>
              <li class="px-4 py-2 hover:bg-slate-100 text-center">
                <%= link_to(
                  "登出", 
                  logout_path, 
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "確定登出？" }
                ) %>
              </li>
            </ul>
          <% else %>
            <div class="text-xl px-8 py-6">
              <%= link_to("登入", login_path, class: "px-6 py-3 rounded bg-blue-500 text-white") %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="py-10 text-center">
      <span>&copy; 2024 Enfu Liao. All rights reserved.</span>
    </footer>
    <script>
      function showDropdown() {
        document.getElementById("dropdown").classList.remove("hidden");
      }
      function hideDropdown() {
        document.getElementById("dropdown").classList.add("hidden");
      }
    </script>
  </body>
</html>
