<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="bg-slate-300">
      <div class="md:flex md:justify-between">
        <div class="place-items-center flex">
          <%# root_path %>
          <%= link_to(root_path, class: "") do %>
            <img class="h-12 mx-5" src="https://fakeimg.pl/300">
          <% end %>
        </div>
        <ul class="md:flex">
          <% room_names = Room.pluck(:name) %>
          <% room_names.each do |room_name| %>
            <li class="text-xl">
              <% if request.path == board_path(room_name) %>
                <%= link_to(room_name, board_path(room_name), class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
              <% else %>
                <%= link_to(room_name, board_path(room_name), class: "block h-full px-4 py-6 hover:bg-blue-300 hover:text-white") %>
              <% end %>
            </li>
          <% end %>
          <%# user_reservations_path(user_id: @user.id) %>
          <li class="text-xl">
            <% if request.path.start_with?("/users/") && request.path.include?("/reservations") %>
              <%# e.g., http://127.0.0.1:3000/users/13/reservations %>
              <%= link_to("我的預約", current_user ? user_reservations_path(user_id: current_user.id) : reservations_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("我的預約", current_user ? user_reservations_path(user_id: current_user.id) : reservations_path, class: "block h-full px-4 py-6 hover:bg-blue-300 hover:text-white") %>
            <% end %>
          </li>
          <li class="text-xl">
            <% if request.path == rooms_path %>
              <%= link_to("琴房", rooms_path, class: "block h-full px-4 py-6 bg-blue-500 text-white") %>
            <% else %>
              <%= link_to("琴房", rooms_path, class: "block h-full px-4 py-6 hover:bg-blue-300 hover:text-white") %>
            <% end %>
          </li>
          <% if current_user && current_user.admin? %>
            <li class="text-xl">
              <% if request.path == users_path %>
                <%= link_to("使用者", users_path, class: "block h-full px-4 py-6 bg-rose-500 text-white") %>
              <% else %>
                <%= link_to("使用者", users_path, class: "block h-full px-4 py-6 hover:bg-rose-300 hover:text-white") %>
              <% end %>
            </li>
            <li class="text-xl">
              <% if request.path == time_slots_path %>
                <%= link_to("時段", time_slots_path, class: "block h-full px-4 py-6 bg-rose-500 text-white") %>
              <% else %>
                <%= link_to("時段", time_slots_path, class: "block h-full px-4 py-6 hover:bg-rose-300 hover:text-white") %>
              <% end %>
            </li>
            <li class="text-xl">
              <% if request.path == reservations_path %>
                <%= link_to("預約", reservations_path, class: "block h-full px-4 py-6 bg-rose-500 text-white") %>
              <% else %>
                <%= link_to("預約", reservations_path, class: "block h-full px-4 py-6 hover:bg-rose-300 hover:text-white") %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="relative w-48 cursor-pointer" onmouseover="showDropdown()" onmouseout="hideDropdown()">
          <% if current_user.present? %>
            <div class="text-xl px-8 py-6 text-center">
              <a class="">
                <%= current_user&.name %>
              </a>
            </div>
            <ul class="absolute w-full hidden" id="dropdown">
              <li class="mx-1">
                <%= link_to("個人資料", profile_path, class: "block w-full h-full px-4 py-3 rounded bg-slate-100 hover:bg-slate-500 hover:text-white text-center") %>
              </li>
              <li class="mx-1">
                <%= link_to(
                  "登出", 
                  logout_path, 
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "確定登出？" },
                  class: "block w-full h-full px-4 py-3 rounded block w-full h-full px-4 py-3 rounded bg-slate-100 hover:bg-slate-500 hover:text-white text-center"
                ) %>
              </li>
            </ul>
          <% else %>
            <div class="text-xl px-8 py-6">
              <%= link_to("登入", login_path, class: "px-6 py-3 rounded-full bg-slate-300 hover:bg-slate-500 hover:text-white") %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="bg-slate-100 min-h-[calc(100vh-75px)]">
      <%= yield %>
    </main>
    <%# <footer class="py-10 text-center">
      <span>&copy; 2024 Enfu Liao. All rights reserved.</span>
    </footer> %>
    <script>
      function showDropdown() {
        document.getElementById("dropdown").classList.remove("hidden");
      }
      function hideDropdown() {
        document.getElementById("dropdown").classList.add("hidden");
      }
    </script>
  </body>
</html>
